asgiref==3.7.2
awscli==1.29.40
botocore==1.31.40
certifi==2023.7.22
colorama==0.4.4
distlib==0.3.7
Django==3.2.19
docutils==0.16
filelock==3.12.3
jmespath==1.0.1
mysqlclient==2.2.0
mysql-connector==2.2.9
Pillow==10.0.0
pipenv==2023.9.1
platformdirs==3.10.0
pyasn1==0.5.0
PyMySQL==1.1.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
rsa==4.7.2
s3transfer==0.6.2
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==1.26.16
virtualenv==20.24.4
